# If you're not sure what timezone you should fill in, you can look at the following list:
# https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
# Use the column that says "TZ database name".
# To find your system's preconfigured timezone run: cat /etc/timezone
TIMEZONE=

# Choose your root directory for keeping all your container configs and data.
CONFIG_DIR=

# Choose your root directory for keeping all your media files.
DATA_DIR=

# The user used to run docker-compose. To find this run: id -u
UID=

# Telegram notifications (Radarr/Sonarr custom script)
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# qbit_manage -> qBittorrent auth (si tu WebUI tiene usuario/clave)
QBIT_USER=
QBIT_PASS=
